{% extends "layout.html" %}

{% block title %}
    COVID-19 Info
{% endblock %}

{% block main %}
    <h1>Latest Coronavirus (COVID-19) News, Updates, and Statistics</h1>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-58633240-d7f4-4d2f-b7b9-8197eac17887"></div>
    <div class="bingwidget" data-type="covid19" data-market="en-us" data-language="en-us" data-app="bingwidget"></div>
    <script src="//www.bing.com/widget/bootstrap.answer.js" async=""></script>
{% endblock %}